.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.container {
  position: relative;
	width: 1170px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;	
  margin: 0;
}
.list__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.btn {
  display: block;
  text-decoration: none;
  color: #000;
}
																						/* header */
.page-header {
	min-height: 102px;
	background: #39aae4;
}
.header-logo {
  position: relative;
  float: left;
  width: 137px;
  height: 78px;
  margin: 14px 0 0 82px;
  padding: 0;
}
.header-logo:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 21px;
  height: 21px;
  background: #f27551;
  z-index: 4;
}
.header-logo:after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 21px;
  height: 21px;
  background: #f27551;
  z-index: 4;
}
.header-logo__text {
  display: block;
  position: relative;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  z-index: 15;
  background: #39aae4;
}
.header-logo__text:first-child {
  padding-top: 5px;
  font-weight: 400;
}
.header-logo__text:last-child {
  padding-bottom: 8px;
}
.main-nav {
  float: right;
  width: 915px;
}
.main-nav__list {
  margin: 0; 
  padding : 7px 0 0 27px;
}
.main-nav__item {
  display: inline-block;
  vertical-align: top;
  padding-right: 19px;
}
.main-nav__item:last-child {
 padding-right: 0; 
}
.main-nav__link {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.contacts {
  float: right;
  position: relative;
}
.contacts__text {
  float: left;
  font-weight: 400;
  text-align: right;
  margin: 0;
  padding: 6px 21px 0 0;
}
.contacts__text:after {
  content: "";
  position: absolute;
  top: 12px;
  left: -40px;
  background-image: url("../img/header_phone.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
}
.contacts__btn {
  float: left;
  width: 223px;
  height: 36px;
  background-color: #f27551;
  border-radius: 10px;
  text-align: center;
  margin: 5px 0 0 0;
}
.main-form__title {
  margin: 0;
}
																						/* main */
.slider {
  min-height: 762px;
  background-image: url("../img/bg_slider.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  border-top: 1px solid #39aae4;
}
.slider-header {
  width: 1170px;
  height: 153px;
  background-color: rgba(57, 170, 228, 0.4);
  border-radius: 20px;
  margin-top: 5px;
}
.slider-header__text {
  margin: 0;
}
.countdown {
  width: 680px;
  height: 240px;
  background-color: rgba(57, 170, 228, 0.4);
  margin: 5px 0 5px 0;
}
.countdown:after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: -8px;
  width: 490px;
  height: 578px;
  background-image: url("../img/slider_man.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.slider-form {
  width: 680px;
  height: 347px;
  background-color: rgba(57, 170, 228, 0.4);
  border-radius: 20px;
}
.slider-form__title {
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
}
.main-form__input {
  display: block;
  width: 540px;
  height: 54px;
  border-radius: 20px;
  margin: 10px auto;
  padding-left: 30px;
  font-size: 27px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.529);
}
.main-form__btn {
  width: 540px;
  height: 54px;
  color: #000;
  font-size: 35px;
  font-weight: 400;
  border-radius: 20px;
}
.steps {
  min-height: 365px;
  font-size: 0;
}
.steps__list {
  margin-top: 30px;
  padding-left: 30px;
}
.steps__item {
  position: relative;
  width: 190px;
}
.steps__item:nth-child(2n) {
  padding-top: 150px;
}
.steps__img {
  width: 116px;
  height: 115px;
  border: 3px solid #f27551;
  margin: 0 auto;
}
.steps__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.our-product {
  height: 1406px;
  background-image: url("../img/bg_our_product.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.our-product__list {
  padding: 0;
  font-size: 0;
}
.our-product__title {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  padding-top: 45px;
}
.our-product__item {
  position: relative;
  width: 390px;
  min-height: 400px;
  margin: 0;
}
.our-product__item:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 45px;
  width: 87px;
  height: 87px;
  background-color: #f27551;
  z-index: 5;
}
.our-product__img {
  position: relative;
  z-index: 9;
}
.our-product__text {
  text-align: center;
  font-size: 24px;
}
.reviews {
  min-height: 500px;
}
.order {
  height: 643px;
  background-image: url("../img/bg_order.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
																						/* footer */
.page-footer {
  position: relative;
  min-height: 450px;
}
.footer-contacts {
  width: 395px;
}
.footer__title {
  margin: 0;
}
.footer-map {
  position: absolute;
  top: 0;
  left: 396px;
}












