.clearfix:after {
  content: '';
  clear: both;
  display: table;
}
.container {
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
}